/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
.container{
  display: flex;
  align-items: center;
  justify-content:left;
  position: relative;
  left: 20%;
}

.buttons {
  display: inline-table;
  align-items: center;
  justify-content: space-around;
  color: orangered;
  text-align: center;
}
.customTitle{
  color: orangered;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60px;
  margin-bottom: 40px;
}

.mainTitle{
  width: 100%;
  justify-content: center;

  display: flex;
}

Link{
  color: aqua;
}

.buttonOTTAA{
  background-color: white;
  color: orangered;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  border-color: orangered;
  border-width: 1px;
  width: auto;
  height: auto;
  padding: 10px;
  margin-left: 2px;
  border-radius: 5px;
  border-style: solid;
}
.buttonOTTAA:hover{
  font-size: 20px;
  background-color: orangered;
  color: white;
  border-color: orangered;
  border-width: 1px;
  width: auto;
  height: auto;
  padding: 10px;
  margin-left: 2px;
  border-radius: 5px;
  border-style: solid;
}

.customImage{
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0%;
  background-color: bisque;
  border-radius: 10px;
  margin-top: 40px;  
}
.customTitleImage{
  width: 40%;
  height: 40%;
}

.view{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.blockSize{
  width: 60%;
  max-width: 60%;
  min-width: 60%;
}
.blockSize2{
  width: 20%;
  max-width: 20%;
  min-width: 20%;
}